.offer__body {
    margin: 50px 0px;
}

.offer__col{
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 0px 25px;
    border-radius: 10px;
    padding: 20px;
    font-size: 13px;
    margin-bottom: 20px;
}

.offer__img {
    height: 135px;
    width: 130px;
}

.offer__row__last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(to right,#4A00E0, #8E2DE2);
    border-radius: 10px;
    height: 177px;
}

.offer__row__last__btn {
    background-color: #FF8F00;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    width: 150px;
}


@media (max-width: 425px) {
    .offer__img{
        height: 150px;
        width: 90px;
        padding: 0px;
    }
    .offer__col{
        margin: 20px 25px;
    }
}

@media (max-width: 768px) {
    /* .offer__row{
        margin: 35px 0px;
    } */
    .offer__img{
        height: 150px;
        width: 105px;
    }
    .offer__col{
        margin-bottom: 20px;
    }
    .offer__row__last{
        height: 219px;
    }
}