.main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
}

.main__heading{
    font-weight: 700;
    line-height: 50px;
}

.main > div > h2 {
    font-weight: 800;
    background: -webkit-linear-gradient(#4A00E0, #8B2BE2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main > div > h4 {
    font-weight: 700;
}

.main__btn{
    margin-left: 30px;
    background: linear-gradient(90deg, #2469F1 0%, #0E46B9 100%);
}

.btn-lr{
    border: linear-gradient(90deg, #2469F1 0%, #0E46B9 100%) !important;
    width: 130px;
    border-radius: 10px;
}